version: '3.8'

services:
  # omega (bot discord)
  omega:
    build:
      context: omega
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    hostname: omega
    container_name: omega
    restart: always
    env_file:
      - .env
    volumes:
      - ./omega:/app:ro
    command: python3 omega.py
    networks:
      - intern_db

  # site for oauth
  oauth2:
    build:
      context: oauth2
      dockerfile: Dockerfile
    depends_on:
      - mariadb
      - composer
    hostname: oauth2
    container_name: oauth2
    restart: always
    volumes:
      - ./oauth2/:/app:ro
    env_file:
      - .env
    networks:
      - intern_db
      - intern_web

  # mariadb database
  mariadb:
    build:
      context: ./mariadb
      dockerfile: Dockerfile
    restart: always
    hostname: mariadb
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - "./mariadb/volume:/var/lib/mysql"
    networks:
      - intern_db

  # phpmyadmin
  pma:
    image: phpmyadmin:apache
    restart: always
    depends_on:
      - mariadb
    hostname: pma
    container_name: pma
    environment:
      PMA_PORT: 3306
      PMA_HOST: "mariadb"
      PMA_PMADB: ${MYSQL_DATABASE}
      PMA_ABSOLUTE_URI: ${DOMAIN}/phpmyadmin/
    networks:
      - intern_db
      - intern_web
  
  # Service run at start to generate php dependencies
  composer:
    build:
      context: composer
      dockerfile: Dockerfile
    container_name: composer
    hostname: composer
    volumes:
      - ./oauth2:/app
    command: 'composer -W u'

  # web service (proxy + ssl cert)
  nginx:
    image: nginx:alpine
    restart: always
    container_name: nginx
    hostname: nginx
    depends_on:
      - pma
      - oauth2
    volumes:
      # config nginx
      - ./nginx/conf/prod.conf:/etc/nginx/nginx.conf:ro
      # directory of certificates
      - /etc/letsencrypt:/ssl:ro
      # directory of the webroot (update cert - certbot)
      - /var/www/html:/webroot:ro
      # file dhparam.pem
      - /etc/ssl/certs/dhparam.pem:/dhparam.pem:ro
    ports:
      - 80:80
      - 443:443
    networks:
      - intern_web
    

networks:
  intern_web:
  intern_db:
