version: '3.8'

services:
  omega:
    build:
      context: omega
      dockerfile: Dockerfile
    hostname: protocole_omega
    container_name: protocole_omega
    restart: always
    env_file:
      - .env
    volumes:
      - ../omega.db:/app/omega.db