html, body {
    height: 100%;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    width: 100%;
    height: 5em;
    margin: 0;
    background-color: #222222;
    display: flex;
    justify-content: space-evenly;
}
img {
    height: 4.6em;
    padding: .3em;
    /*padding-left: 2em;*/
}
.page {
    background-color: rgb(195 195 195);
    border: black 1px;
    width:500px;
    padding: 2%;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}
.page > * {
    margin-top: .6em;
}
.but {
    padding: 1em;
    background-color: #e9e9e9;
    max-width: max-content;
    height: max-content;
    border: #000000 1px solid;
    border-radius: 5px;
    color: #000000;
}
.but:hover {
    background-color: #000000;
    border: #000000 1px solid;
    color: white;
}
a {
    font-size: x-large;
    text-decoration: none;
    /*font-family: fantasy;*/
    font-weight: bold;
}
.error {
    text-decoration: none;
    color: red;
}
@media screen and (max-width: 588.2px) {
    .page {
        width: 85%;
        padding: 2%;
    }
}